{
  "presets": [
    "@babel/react",
    ["@babel/env", { "modules": false }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./src/components",
          "lib": "./src/lib",
          "styles": "./src/styles"
        }
      }
    ]
  ]
}
